altgraph==0.17.2
ansicon==1.89.0
auto-py-to-exe==2.17.0
backoff==1.11.1
backports.entry-points-selectable==1.1.1
bottle==0.12.19
bottle-websocket==0.2.9
branca==0.4.2
certifi==2021.10.8
cffi==1.15.0
chardet==3.0.4
charset-normalizer==2.0.9
click==8.0.3
colorama==0.4.4
commonmark==0.9.1
comtypes==1.1.10
console==0.9907
cryptography==36.0.1
dataclasses==0.8
distlib==0.3.4
dnspython==2.2.0
docutils==0.18.1
Eel==0.12.4
ezenv==0.92
facepy==1.0.12
filelock==3.4.0
Flask==2.0.2
folium==0.12.1.post1
future==0.18.2
geographiclib==1.52
geopy==2.2.0
gevent==21.12.0
gevent-websocket==0.10.1
greenlet==1.1.2
gunicorn==20.1.0
h8mail==2.5.5
idna==2.10
importlib-metadata==4.8.2
importlib-resources==5.4.0
inputs==0.5
instagram-private-api==1.6.0.0
install==1.3.5
itsdangerous==2.0.1
Jinja2==3.0.3
jinxed==1.1.0
Kivy==2.0.0
kivy-deps.angle==0.3.0
kivy-deps.glew==0.3.0
kivy-deps.gstreamer==0.3.2
kivy-deps.sdl2==0.3.1
Kivy-examples==2.0.0
Kivy-Garden==0.1.4
kivymd @ https://github.com/kivymd/KivyMD/archive/master.zip
MarkupSafe==2.0.1
numpy==1.19.5
opencage==2.0.0
opencv-python==4.5.4.60
pandas==0.25.3
pefile==2021.9.3
phonenumbers==8.12.40
Pillow==8.1.0
platformdirs==2.4.0
plyer==2.0.0
prettytable==0.7.2
PyAudio==0.2.11
pycountry==22.1.10
pycparser==2.21
pycryptodome==3.9.9
pyfacebook==0.3
pyfiglet==0.8.post1
Pygments==2.7.4
pyinstaller==4.7
pyinstaller-hooks-contrib==2021.4
pynput==1.7.6
pyOpenSSL==21.0.0
PyPDF2==1.26.0
pypiwin32==223
pypng==0.0.21
PyQRCode==1.2.1
pyreadline==2.1
PySocks==1.7.0
pytesseract==0.3.8
python-dateutil==2.8.2
python-nmap==0.7.1
pyttsx==1.1
pyttsx3==2.90
pytube==12.0.0
pytz==2021.3
pywin32==302
pywin32-ctypes==0.2.0
requests==2.24.0
requests-toolbelt==0.9.1
rich==9.10.0
selenium==3.141.0
six==1.16.0
SpeechRecognition==3.8.1
tbomb==2.1.2
termcolor==1.1.0
texttable==1.6.4
typing-extensions==3.7.4.3
urllib3==1.24.3
utils==1.0.1
virtualenv==20.10.0
Werkzeug==2.0.2
wget==3.2
whichcraft==0.6.1
wrapt==1.13.3
xlrd==2.0.1
yaspin==1.5.0
zipp==3.6.0
zope.event==4.5.0
zope.interface==5.4.0
